.loginBox {
    width: 400px;
    margin: 0 200px;
    box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 10px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

.formItem {
    margin-bottom: 30px;

    &input {
        height: 30px;
        line-height: 30px;
        box-sizing: content-box;
        width: 200px;
        padding: 20px;
    }
}